table,th,td,tr{
    border-style: dotted;
    height: 50px;
    text-align: center;
}
.name{
    font-size: 70px;
    color: rgb(234, 225, 225);
    margin-left: 38%;
    margin-right: 10%;
}
body{
    background-color: rgb(18, 20, 17);

}
.tb{
    color: #e1cfcf;
}
.ydd{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: -10%;
    color: rgb(215, 164, 164);
    word-spacing: 40px;
    font-family: Arial;
    border-radius: 20px;
}
.id{
    color: blue;
    font-size: 350%;
    padding-right: 3cm;
}
a:link,a:visited{
    text-decoration: none;
    color: rgb(215, 186, 186);
    
}
a:hover{
    /* background-color    : greenyellow; */
    color:greenyellow;
    border-radius: 40px;
    /* padding: 10px; */
}
button:hover{
    background-color: greenyellow;
}
.ling{
     padding: 1px  30px;
     border-radius: 40px;
}
/* img{
    margin-left: 17%;
    border-radius: 50%;
} */
.nen{
    text-align: justify; 
    margin-left: 30%;
    margin-right: 20%; 
    color: rgb(188, 235, 179);
    font-size: 22px;
}
.lin{
    display: flex;
}
.container {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
    height: 200px;
    width: 200px;
    margin-left: 130%;
    border-radius: 50%;
   }
   
   .text {
     font-size: 50px;
   }
   .kin{
    font-size: 80px;
    color: rgb(193, 179, 179);
    margin-left: 27%;
    margin-right: 10%;
    margin-top: -50px;
}
html{
    scroll-behavior: smooth;
}
.kj{
    color: beige;
}